.graficas_container{
    display: flex;
    @media screen  and (max-width: 766px) {
      flex-direction: column;
     
    
  }
  }
  .graficas{
    padding: 15px;
    width: 200px;
    align-items: center;
    margin: 10px auto;
  }
  