.reservas {
  display:flex;
  flex-direction: column;
    position: fixed;
    bottom: 1.5rem;
    right: 0.8rem;
    
    height: 115px;
    border-radius: 18px;
    
    @media screen  and (max-width: 760px) {
      height: 140px;
      }
  }
  
  .reservas img {
    width: 3rem;
  
    @media screen  and (max-width: 760px) {
      width: 2rem;
      }
  }
  .reservas img:hover {
    cursor: pointer;
  }
  figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    cursor: pointer;
    transition: all .5s;
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }